[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "abbreviation-uhh-what-is-word-for-tearing-apart-an-abbreviation"
version = "0.1.2"
authors = [
    { name="sqdnoises" },
]
description = "no"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]