[buildout]
installed_develop_eggs = 
parts = _mr.developer instance test code-analysis coverage test-coverage createcoverage releaser i18ndude omelette robot plone-helper-scripts

[_mr.developer]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/develop
__buildout_signature__ = zc.recipe.egg-2.0.7-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = mr.developer
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
recipe = zc.recipe.egg

[instance]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/update_locale
	/mnt/e/Work/onlyoffice-plone/parts/instance
	/mnt/e/Work/onlyoffice-plone/bin/instance
	/mnt/e/Work/onlyoffice-plone/parts/instance/bin/interpreter
__buildout_signature__ = multipart-0.1.1-py3.8.egg WSGIProxy2-0.4.6-py3.8.egg python_dotenv-0.15.0-py3.8.egg waitress-1.4.4-py3.8.egg zope.globalrequest-1.5-py3.8.egg WebOb-1.8.7-py3.8.egg soupsieve-1.9.6-py3.8.egg cffi-1.14.5-py3.8-linux-x86_64.egg six-1.16.0-py3.8.egg zc.lockfile-2.0-py3.8.egg zodbpickle-2.0.0-py3.8-linux-x86_64.egg zc.recipe.egg-2.0.7-py3.8.egg WebTest-2.0.35-py3.8.egg PasteDeploy-2.1.1-py3.8.egg zope.browser-2.3-py3.8.egg zope.processlifetime-2.3.0-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 pycparser-2.20-py3.8.egg Persistence-3.0-py3.8-linux-x86_64.egg transaction-3.0.1-py3.8.egg roman-3.3-py3.8.egg z3c.pt-3.3.0-py3.8.egg DocumentTemplate-3.4-py3.8.egg Paste-3.5.0-py3.8.egg ZConfig-3.6.0-py3.8.egg Chameleon-3.9.1-py3.8.egg python_gettext-4.0-py3.8.egg MultiMapping-4.1-py3.8.egg zExceptions-4.1-py3.8.egg zope.sequencesort-4.1.2-py3.8.egg zope.location-4.2-py3.8.egg zope.ptresource-4.2.0-py3.8.egg AuthEncoding-4.2.1-py3.8.egg zope.contentprovider-4.2.1-py3.8.egg zope.viewlet-4.2.1-py3.8.egg AccessControl-4.3-py3.8-linux-x86_64.egg DateTime-4.3-py3.8.egg zdaemon-4.3-py3.8.egg zope.datetime-4.3.0-py3.8.egg zope.dottedname-4.3-py3.8.egg zope.lifecycleevent-4.3-py3.8.egg zope.size-4.3-py3.8.egg zope.structuredtext-4.3-py3.8.egg zope.cachedescriptors-4.3.1-py3.8.egg zope.deferredimport-4.3.1-py3.8.egg zope.proxy-4.3.5-py3.8-linux-x86_64.egg zope.browsermenu-4.4-py3.8.egg zope.browserpage-4.4.0-py3.8.egg zope.browserresource-4.4-py3.8.egg zope.configuration-4.4.0-py3.8.egg zope.container-4.4.0-py3.8-linux-x86_64.egg zope.deprecation-4.4.0-py3.8.egg zope.exceptions-4.4-py3.8.egg zope.traversing-4.4.1-py3.8.egg zope.contenttype-4.5.0-py3.8.egg zope.event-4.5.0-py3.8.egg zope.pagetemplate-4.5.0-py3.8.egg zope.site-4.5.0-py3.8.egg zope.tal-4.5-py3.8.egg ExtensionClass-4.5.1-py3.8-linux-x86_64.egg zope.component-4.6.2-py3.8.egg Zope-4.6.3-py3.8.egg Acquisition-4.7-py3.8-linux-x86_64.egg persistent-4.7.0-py3.8-linux-x86_64.egg zope.annotation-4.7.0-py3.8.egg zope.testing-4.7-py3.8.egg zope.i18n-4.8.0-py3.8.egg BTrees-4.9.2-py3.8-linux-x86_64.egg beautifulsoup4-4.9.3-py3.8.egg zope.filerepresentation-5.0.0-py3.8.egg zope.hookable-5.0.1-py3.8-linux-x86_64.egg zope.i18nmessageid-5.0.1-py3.8-linux-x86_64.egg RestrictedPython-5.1-py3.8.egg zope.tales-5.1-py3.8.egg zope.security-5.1.1-py3.8-linux-x86_64.egg ZEO-5.2.2-py3.8.egg zope.interface-5.4.0-py3.8-linux-x86_64.egg zope.testbrowser-5.5.1-py3.8.egg ZODB-5.6.0-py3.8.egg zope.publisher-6.0.2-py3.8.egg zope.schema-6.1.1-py3.8.egg plone.recipe.zope2instance-6.10.2-py3.8.egg setuptools-4c2d012d20e91e600c6e363492d582d0 pytz-2021.1-py3.8.egg
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
deprecation-warnings = on
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = %(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPlone
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPillow
		plone.app.debugtoolbar
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sonlyoffice.connector [test]
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
environment-vars = zope_i18n_compile_mo_files true
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
http-address = 8080
index = https://pypi.python.org/simple/
initialization = 
location = /mnt/e/Work/onlyoffice-plone/parts/instance
pipeline = translogger
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)segg:Zope#httpexceptions
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)szope
recipe = plone.recipe.zope2instance
user = admin:admin
zcml = 

[test]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/parts/test
	/mnt/e/Work/onlyoffice-plone/bin/test
__buildout_signature__ = six-1.16.0-py3.8.egg zc.recipe.egg-2.0.7-py3.8.egg zc.recipe.testrunner-2.2-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 zope.exceptions-4.4-py3.8.egg zope.testrunner-5.3.0-py3.8.egg zope.interface-5.4.0-py3.8-linux-x86_64.egg setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
defaults = ['-s', 'onlyoffice.connector', '--auto-color', '--auto-progress']
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = %(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPlone
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPillow
		plone.app.debugtoolbar
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sonlyoffice.connector [test]
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
initialization = os.environ['TZ'] = 'UTC'
location = /mnt/e/Work/onlyoffice-plone/parts/test
recipe = zc.recipe.testrunner
script = /mnt/e/Work/onlyoffice-plone/bin/test

[code-analysis]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/parts/code-analysis
	/mnt/e/Work/onlyoffice-plone/bin/code-analysis
__buildout_signature__ = build-0.1.0-py3.8.egg mccabe-0.6.1-py3.8.egg pep517-0.9.1-py3.8.egg toml-0.10.2-py3.8.egg check_manifest-0.45-py3.8.egg zc.recipe.egg-2.0.7-py3.8.egg pyflakes-2.4.0-py3.8.egg pyparsing-2.4.7-py3.8.egg pycodestyle-2.8.0-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 plone.recipe.codeanalysis-3.0.1-py3.8.egg flake8-4.0.1-py3.8.egg lxml-4.6.3-py3.8-linux-x86_64.egg packaging-20.9-py3.8.egg setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
chameleon-lint = False
check-manifest = False
check-manifest-directory = .
clean-lines = False
clean-lines-exclude = 
csslint = False
csslint-bin = csslint
dependencychecker = False
dependencychecker-bin = dependencychecker
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
directory = /mnt/e/Work/onlyoffice-plone/src/onlyoffice
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
find-untranslated = False
flake8 = True
flake8-extensions = 
flake8-filesystem = False
flake8-ignore = E501
i18ndude-bin = 
importchecker = False
importchecker-bin = importchecker
index = https://pypi.python.org/simple/
jenkins = False
jscs = False
jscs-bin = jscs
jscs-exclude = 
jshint = False
jshint-bin = jshint
jshint-exclude = 
jshint-suppress-warnings = True
location = /mnt/e/Work/onlyoffice-plone/parts/code-analysis
multiprocessing = False
pre-commit-hook = True
pre-commit-return-status-codes = False
pre-push-hook = False
pre-push-return-status-codes = False
recipe = plone.recipe.codeanalysis
return-status-codes = False
scsslint = False
scsslint-bin = scss-lint
scsslint-config = 
xmllint = False
zptlint = False
zptlint-bin = 

[coverage]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/coverage
	/mnt/e/Work/onlyoffice-plone/bin/coverage-3.8
	/mnt/e/Work/onlyoffice-plone/bin/coverage3
__buildout_signature__ = zc.recipe.egg-2.0.7-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = coverage
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
recipe = zc.recipe.egg

[test-coverage]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/test-coverage
__buildout_signature__ = collective.recipe.template-2.1-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
input = inline:
	#!/bin/bash
	export TZ=UTC
	/mnt/e/Work/onlyoffice-plone/bin/coverage run bin/test $*
	/mnt/e/Work/onlyoffice-plone/bin/coverage html
	/mnt/e/Work/onlyoffice-plone/bin/coverage report -m --fail-under=90
	# Fail (exit status 1) if coverage returns exit status 2 (this happens
	# when test coverage is below 100%.
mode = 755
output = /mnt/e/Work/onlyoffice-plone/bin/test-coverage
recipe = collective.recipe.template

[createcoverage]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/coverage
	/mnt/e/Work/onlyoffice-plone/bin/createcoverage
__buildout_signature__ = zc.recipe.egg-2.0.7-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = createcoverage
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
recipe = zc.recipe.egg

[releaser]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/addchangelogentry
	/mnt/e/Work/onlyoffice-plone/bin/bumpversion
	/mnt/e/Work/onlyoffice-plone/bin/fullrelease
	/mnt/e/Work/onlyoffice-plone/bin/lasttagdiff
	/mnt/e/Work/onlyoffice-plone/bin/lasttaglog
	/mnt/e/Work/onlyoffice-plone/bin/longtest
	/mnt/e/Work/onlyoffice-plone/bin/postrelease
	/mnt/e/Work/onlyoffice-plone/bin/prerelease
	/mnt/e/Work/onlyoffice-plone/bin/release
__buildout_signature__ = zc.recipe.egg-2.0.7-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = zest.releaser
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
recipe = zc.recipe.egg

[i18ndude]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/i18ndude
__buildout_signature__ = zc.recipe.egg-2.0.7-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = i18ndude
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
recipe = zc.recipe.egg

[omelette]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/parts/omelette
__buildout_signature__ = collective.recipe.omelette-1.0.0-py3.8.egg zc.recipe.egg-2.0.7-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = %(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPlone
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPillow
		plone.app.debugtoolbar
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sonlyoffice.connector [test]
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
location = /mnt/e/Work/onlyoffice-plone/parts/omelette
recipe = collective.recipe.omelette

[robot]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/update_locale
	/mnt/e/Work/onlyoffice-plone/bin/libdoc
	/mnt/e/Work/onlyoffice-plone/bin/pybabel
	/mnt/e/Work/onlyoffice-plone/bin/pybot
	/mnt/e/Work/onlyoffice-plone/bin/ride
	/mnt/e/Work/onlyoffice-plone/bin/robot
	/mnt/e/Work/onlyoffice-plone/bin/robot-debug
	/mnt/e/Work/onlyoffice-plone/bin/robot-server
__buildout_signature__ = zc.recipe.egg-2.0.7-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = %(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPlone
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPillow
		plone.app.debugtoolbar
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sonlyoffice.connector [test]
	plone.app.robotframework[debug,reload]
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
recipe = zc.recipe.egg

[plone-helper-scripts]
__buildout_installed__ = /mnt/e/Work/onlyoffice-plone/bin/zopepy
__buildout_signature__ = zc.recipe.egg-2.0.7-py3.8.egg zc.buildout-4c2d012d20e91e600c6e363492d582d0 setuptools-4c2d012d20e91e600c6e363492d582d0
_b = /mnt/e/Work/onlyoffice-plone/bin
_d = /mnt/e/Work/onlyoffice-plone/develop-eggs
_e = /mnt/e/Work/onlyoffice-plone/eggs
bin-directory = /mnt/e/Work/onlyoffice-plone/bin
develop-eggs-directory = /mnt/e/Work/onlyoffice-plone/develop-eggs
eggs = Products.CMFPlone
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPlone
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sPillow
		plone.app.debugtoolbar
	%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)s%(__buildout_space__)sonlyoffice.connector [test]
eggs-directory = /mnt/e/Work/onlyoffice-plone/eggs
find-links = https://dist.plone.org/release/5.2-latest/
	https://dist.plone.org/thirdparty/
index = https://pypi.python.org/simple/
interpreter = zopepy
recipe = zc.recipe.egg
scripts = zopepy
	plone-compile-resources
