[bumpversion]
current_version = 0.1.0-rc.25
parse = ^
	(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
	(-(?P<prephase>a|b|rc).(?P<preN>\d+))? # pre-release
	(\+(?P<build>.*))? # build
serialize = 
	{major}.{minor}.{patch}-{prephase}.{preN}+{build}
	{major}.{minor}.{patch}-{prephase}.{preN}
	{major}.{minor}.{patch}+{build}
	{major}.{minor}.{patch}
commit = True
commit_args = --gpg-sign
	--signoff

[bumpversion:part:prephase]
optional_value = _
values = 
	a
	b
	rc
	_

[bumpversion:file:.github/workflows/build-publish.yml]
search = glob-linters=={current_version}
replace = glob-linters=={new_version}

[bumpversion:file:Dockerfile]
search = GLOB_LINTERS_VERSION {current_version}
replace = GLOB_LINTERS_VERSION {new_version}

[bumpversion:file:setup.py]
search = version="{current_version}"
replace = version="{new_version}"

[bumpversion:file:glob_linters/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
