primary_name = g4particle
primary_propagator = [pyLiGen, mcPhotonTransporter] # [pyCaGen, CaPar, mcPT], [pyCaGen, NN]
primary_generator = pyLiGen

#g4particle_type = mu-
#g4particle_energy_GeV = 1
#g4particle_position_m = [-200,-200,100]
#g4particle_direction = [0,0,1]
#g4particle_photon_fraction = 0.1
