html {
  font-size: 14px
}

body {
  font-family: "Helvetica Neue", Helvetica, -apple-system, Arial, "Lucida Grande", system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif
}

#logo {
  margin-left: .5rem;
  margin-top: .15rem
}

@font-face {
  font-family: Line Awesome Brands;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(fonts/line-awesome/la-brands-400.eot);
  src: url(fonts/line-awesome/la-brands-400.eot?#iefix) format("embedded-opentype"), url(fonts/line-awesome/la-brands-400.woff2) format("woff2"), url(fonts/line-awesome/la-brands-400.woff) format("woff"), url(fonts/line-awesome/la-brands-400.ttf) format("truetype"), url(fonts/line-awesome/la-brands-400.svg#lineawesome) format("svg")
}

@font-face {
  font-family: Line Awesome Free;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(fonts/line-awesome/la-regular-400.eot);
  src: url(fonts/line-awesome/la-regular-400.eot?#iefix) format("embedded-opentype"), url(fonts/line-awesome/la-regular-400.woff2) format("woff2"), url(fonts/line-awesome/la-regular-400.woff) format("woff"), url(fonts/line-awesome/la-regular-400.ttf) format("truetype"), url(fonts/line-awesome/la-regular-400.svg#lineawesome) format("svg")
}

@font-face {
  font-family: Line Awesome Free;
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(fonts/line-awesome/la-solid-900.eot);
  src: url(fonts/line-awesome/la-solid-900.eot?#iefix) format("embedded-opentype"), url(fonts/line-awesome/la-solid-900.woff2) format("woff2"), url(fonts/line-awesome/la-solid-900.woff) format("woff"), url(fonts/line-awesome/la-solid-900.ttf) format("truetype"), url(fonts/line-awesome/la-solid-900.svg#lineawesome) format("svg")
}

@-webkit-keyframes la-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes la-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

/*!
 * Bootstrap v5.2.0-beta1 (https://getbootstrap.com/)
 * Copyright 2011-2022 The Bootstrap Authors
 * Copyright 2011-2022 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #fafafa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 250, 250, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd
}

*,
::after,
::before {
  box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior: smooth
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color)
}

.h1,
h1 {
  font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {

  .h1,
  h1 {
    font-size: 2.5rem
  }
}

.h2,
h2 {
  font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {

  .h2,
  h2 {
    font-size: 2rem
  }
}

.h3,
h3 {
  font-size: calc(1.3rem + .6vw)
}

@media (min-width:1200px) {

  .h3,
  h3 {
    font-size: 1.75rem
  }
}

.h4,
h4 {
  font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {

  .h4,
  h4 {
    font-size: 1.5rem
  }
}

.h5,
h5 {
  font-size: 1.25rem
}

.h6,
h6 {
  font-size: 1rem
}

ol {
  padding-left: 2rem
}

ol {
  margin-top: 0;
  margin-bottom: 1rem
}

ol ol {
  margin-bottom: 0
}

a {
  color: var(--bs-link-color);
  text-decoration: none
}

a:hover {
  color: var(--bs-link-hover-color)
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none
}

code {
  font-family: var(--bs-font-monospace);
  font-size: 1em
}

code {
  font-size: .875em;
  color: var(--bs-code-color);
  word-wrap: break-word
}

a>code {
  color: inherit
}

img,
svg {
  vertical-align: middle
}

button {
  border-radius: 0
}

button:focus:not(:focus-visible) {
  outline: 0
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

button {
  text-transform: none
}

[role=button] {
  cursor: pointer
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer
}

::-moz-focus-inner {
  padding: 0;
  border-style: none
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
  padding: 0
}

::-webkit-inner-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
  padding: 0
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button
}

[hidden] {
  display: none !important
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .nav-link {
    transition: none
  }
}

.nav-link:focus,
.nav-link:hover {
  color: var(--bs-nav-link-hover-color)
}

.nav-fill>.nav-link {
  flex: 1 1 auto;
  text-align: center
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg)
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0)
  }

  50% {
    opacity: 1;
    transform: none
  }
}

@keyframes placeholder-glow {
  50% {
    opacity: .2
  }
}

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0
  }
}

.link-secondary {
  color: #6c757d !important
}

.link-secondary:focus,
.link-secondary:hover {
  color: #565e64 !important
}

.d-grid {
  display: grid !important
}

.d-none {
  display: none !important
}

.top-0 {
  top: 0 !important
}

.top-50 {
  top: 50% !important
}

.top-100 {
  top: 100% !important
}

.h-25 {
  height: 25% !important
}

.h-50 {
  height: 50% !important
}

.h-75 {
  height: 75% !important
}

.h-100 {
  height: 100% !important
}

.m-0 {
  margin: 0 !important
}

.m-1 {
  margin: .25rem !important
}

.m-2 {
  margin: .5rem !important
}

.m-3 {
  margin: 1rem !important
}

.m-4 {
  margin: 1.5rem !important
}

.m-5 {
  margin: 3rem !important
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important
}

.px-1 {
  padding-right: .25rem !important;
  padding-left: .25rem !important
}

.px-2 {
  padding-right: .5rem !important;
  padding-left: .5rem !important
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important
}

.text-secondary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
}

.text-body {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important
}

.text-white-50 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, .5) !important
}

:root {
  --bs-primary: var(--bs-blue);
  --bs-secondary: var(--bs-gray-600);
  --bs-body-bg: var(--bs-white);
  --bs-body-color: var(--bs-dark);
  --bs-border-color: var(--bs-gray-300);
  --bs-code-color: var(--bs-pink);
  --bs-danger: var(--bs-red);
  --bs-info: var(--bs-cyan);
  --bs-link-color: var(--bs-primary);
  --bs-success: var(--bs-green);
  --bs-warning: var(--bs-yellow);
  --bs-heading-color: var(--bs-dark)
}

.tree {
  width: 100%
}

.tree ol {
  padding: .3rem 0 0 2rem;
  margin: 0;
  min-width: 30vw;
  font-size: 12px;
  font-weight: 500;
  color: #555
}

body {
  --builder-filemanager-height: 250px;
  --builder-canvas-margin: 0px;
  --builder-header-top-height: 50px;
  --builder-bottom-panel-height: 35px;
  --drag-items-tabs-height: 40px;
  scrollbar-color: rgba(0, 0, 0, .1) #fff;
  scrollbar-width: thin;
  -webkit-font-smoothing: subpixel-antialiased
}

@media (min-width:576px) {
  body {
    --builder-left-panel-width: 25vw;
    --builder-right-panel-width: 25vw;
    --builder-component-list-element-width: 90%
  }
}

@media (min-width:768px) {
  body {
    --builder-left-panel-width: 25vw;
    --builder-right-panel-width: 25vw;
    --builder-component-list-element-width: 90%
  }
}

@media (min-width:992px) {
  body {
    --builder-left-panel-width: 250px;
    --builder-right-panel-width: 250px;
    --builder-component-list-element-width: 44%
  }
}

@media (min-width:1200px) {
  body {
    --builder-left-panel-width: 300px;
    --builder-right-panel-width: 300px;
    --builder-component-list-element-width: 44%
  }
}

@media (min-width:1600px) {
  body {
    --builder-left-panel-width: 350px;
    --builder-right-panel-width: 350px;
    --builder-component-list-element-width: 44%
  }
}

@media (min-width:2000px) {
  body {
    --builder-left-panel-width: 400px;
    --builder-right-panel-width: 400px;
    --builder-component-list-element-width: 28%
  }
}

body ::-webkit-scrollbar {
  width: .5rem;
  background-color: rgba(0, 0, 0, .05)
}

body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .05);
  background-color: rgba(0, 0, 0, .05)
}

body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .15);
  border-radius: 10px
}

#artemis-builder {
  display: block;
  height: 100%
}

#artemis-builder #left-panel,
#artemis-builder #right-panel {
  border-color: #ddd;
  border-style: solid;
  border-width: 0;
  background-color: #fff;
  height: 100%;
  position: fixed;
  top: 50px;
  z-index: 10
}

#artemis-builder #left-panel {
  float: left;
  border-right-width: 1px;
  background: -moz-linear-gradient(left, #fff 85%, #fafbfc 100%);
  background: -webkit-linear-gradient(left, #fff 85%, #fafbfc 100%);
  background: linear-gradient(left, #fff 85%, #fafbfc 100%);
  box-shadow: -1px -2px 2px #f3f3f3 inset;
  width: 15vw;
  width: calc(var(--builder-left-panel-width));
  height: 100%;
  max-height: 100%
}

#artemis-builder #right-panel {
  float: right;
  right: 0;
  border-left-width: 1px;
  float: right;
  transition: margin-right .1s linear;
  -moz-transition: margin-right .1s linear;
  -webkit-transition: margin-right .1s linear;
  background: -moz-linear-gradient(right, #fff 85%, #fafbfc 100%);
  background: -webkit-linear-gradient(right, #fff 85%, #fafbfc 100%);
  background: linear-gradient(right, #fff 85%, #fafbfc 100%);
  box-shadow: 1px -2px 2px #f3f3f3 inset;
  width: 15vw;
  width: var(--builder-right-panel-width)
}

#artemis-builder #right-panel .nav-link {
  color: #333;
  border-top: 2px solid transparent
}

#artemis-builder #top-panel {
  height: 50px;
  padding-top: .3rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: #fafafa;
  overflow: hidden;
  width: 100%
}

#artemis-builder.no-right-panel {
  --builder-right-panel-width: 0px
}

#artemis-builder.no-right-panel #right-panel {
  display: none
}

#artemis-builder .nav-fill .nav-link {
  padding-left: 0;
  padding-right: 0
}

.header>ol {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height, opacity .5s
}

@keyframes dot-3-move {
  20% {
    transform: scale(1)
  }

  45% {
    transform: translateY(-18px) scale(.45)
  }

  60% {
    transform: translateY(-90px) scale(.45)
  }

  80% {
    transform: translateY(-90px) scale(.45)
  }

  100% {
    transform: translateY(0) scale(1)
  }
}

@keyframes dot-2-move {
  20% {
    transform: scale(1)
  }

  45% {
    transform: translate(-16px, 12px) scale(.45)
  }

  60% {
    transform: translate(-80px, 80px) scale(.45)
  }

  80% {
    transform: translate(-80px, 80px) scale(.45)
  }

  100% {
    transform: translateY(0) scale(1)
  }
}

@keyframes dot-1-move {
  20% {
    transform: scale(1)
  }

  45% {
    transform: translate(16px, 12px) scale(.45)
  }

  60% {
    transform: translate(80px, 70px) scale(.45)
  }

  80% {
    transform: translate(80px, 60px) scale(.45)
  }

  100% {
    transform: translateY(0) scale(1)
  }
}

@keyframes rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0)
  }

  80% {
    transform: translate(-50%, -50%) rotate(360deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}

@keyframes index {

  0%,
  100% {
    z-index: 3
  }

  33.3% {
    z-index: 2
  }

  66.6% {
    z-index: 1
  }
}

@keyframes popup-animation {
  0% {
    transform: translateY(-3rem) scaleY(0) scaleX(0)
  }

  to {
    transform: translateY(0) scaleY(1) scaleX(1)
  }
}